/* universal styles */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #F1F1F3;
}

/* shared section  */

.btn {
    border-radius: 8px;
    background: rgb(0, 106, 80);
}



/* navigation styles */

header {
    margin-bottom: 20px;
}
.navbar ul {
    display: flex;
    justify-content: space-between;
    margin: 25px 160px;
    align-items: center;
    margin-bottom: 50px;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
}

nav ul li .bangladesh {
    color: rgb(14, 14, 14);
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
}

nav ul li .login {
    justify-content: center;
    align-items: center;
    gap: 48;
    padding: 15px 30px;
    box-sizing: border-box;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    color: rgb(0, 106, 80);
    font-size: 18px;
    font-weight: 600;
}

/* banner section  */

.banner-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 64;
    padding: 80px 100px 80px 100px;
    margin: 0 160px;
    border-radius: 24px;
    background: rgb(198, 228, 214);    
}

.caption {
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
    /* align-self: stretch; */
}
h1 {
    max-width: 622px;
    max-height: 200px;
}
.title {
    color: rgb(14, 14, 14);
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0%;
    text-align: left;
}

.btn1 {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    padding: 17px 34px 17px 34px;
    justify-content: center;
    align-items: center;
    border: none;
    margin-top: 25px;
}

.btn1 a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.btn1:hover {
    background-color: white;
}

a:hover {
    
    color: cadetblue;
}

.banner-image {
    margin: 0px 64px;
}

/* pillars of bangladesh  */

.pillar-card-container {
    margin: 80px 160px;
    /* padding: 24px; */
    background-color: #F1F1F3;
    /* width: auto; */
    
}

.pillar-title {
    margin: 32px 0px;
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
}
.card-stack1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 24;
    padding: 0px;
}
.card-carrier {
    width: 302px;
    height: 244px;
    gap: 24;
    padding: 24px;
    /* margin: 0px; */
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    align-self: stretch;
    flex-grow: 0;
    margin: 32px 0px;
}


h4 .cap {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin: 12px 24px 0 24px;
}

.card-des {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    /* margin: 12px 24px 24px 24px; */
    gap: 12;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

/* vision section   */

.vision {
    margin: 80px 160px;
}
.head2 {
    color: rgb(14, 14, 14);
    font-size: 45px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
    margin: 24px 0px;
}

.vision-description {
    color: rgba(14, 14, 14, 0.7);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}


.vision-card {
    display: flex;
    /* justify-content: space-between; */
    margin: 32px 0;
}

.cardA {
    
    background: rgba(84, 144, 245, 0.2);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 24px;
    flex-grow: 1;
    box-sizing: border-box;
    border-radius: 16px;
    margin-right: 24px;
    height: 325px;
    width: 500.67px;

}

.cardA-btn {
    padding: 11px 20px 11px 20px;
    border-radius: 8px;
    background: rgb(84, 144, 245);
    color: white;
    border: none;
    margin-top: 24px;
    gap: 48;

}

.cardA-btn:hover {
    background-color: white;
    color: rgb(84, 144, 245);
}

.cardB {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 32px;
    /* margin: 0px 24px; */
    margin-right: 24px;
    flex-grow: 1;
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(198, 228, 214);
    height: 325px;
    width: 500.67px;
}

.cardB-btn {
    gap: 48;
    padding: 11px 20px 11px 20px;
    border-radius: 8px;
    background: rgb(9, 161, 92);
    color: white;
    border: none;
    margin-top: 24px;

}
.cardB-btn:hover {
    background-color: white;
    color: rgb(9, 218, 214);
}
.cardC {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 24px;
    flex-grow: 1;
    /* margin: 0px 24px; */
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(247, 235, 207);
    height: 325px;
    width: 500.67px;

}

.cardC-btn {
    gap: 48;
    padding: 11px 20px 11px 20px;
    margin-top: 24px;
    border: none;
    border-radius: 8px;
    background: rgb(255, 194, 57);
    color: white;
}

.cardC-btn:hover {
    background-color: white;
    color: rgb(255, 194, 57);
}

.quote-container {
    margin: 48px 0;
    padding: 48px 24px 48px 24px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    background-image: url('../assets/images/quote-bg.png');
    background-position: top-left;
    background-repeat: no-repeat;

}
.quote {
    color: rgba(14, 14, 14, 0.8);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.head3 {
    margin: 12px 0;
}

.caption2 {
    color: rgba(14, 14, 14, 0.6);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}