/* universal styles */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #F1F1F3;
}

/* shared section  */

.btn {
    border-radius: 8px;
    background: rgb(0, 106, 80);
}



/* navigation styles */

header {
    margin-bottom: 20px;
}
.navbar ul {
    display: flex;
    justify-content: space-between;
    margin: 25px 160px;
    align-items: center;
    margin-bottom: 50px;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
}

nav ul li .bangladesh {
    color: rgb(14, 14, 14);
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
}

nav ul li .login {
    justify-content: center;
    align-items: center;
    gap: 48;
    padding: 15px 30px;
    box-sizing: border-box;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    color: rgb(0, 106, 80);
    font-size: 18px;
    font-weight: 600;
}

/* banner section  */

.banner-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 64;
    padding: 80px 100px 80px 100px;
    margin: 0 160px;
    border-radius: 24px;
    background: rgb(198, 228, 214);    
}

.caption {
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
    /* align-self: stretch; */
}
h1 {
    max-width: 622px;
    max-height: 200px;
}
.title {
    color: rgb(14, 14, 14);
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0%;
    text-align: left;
}

.btn1 {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    padding: 17px 34px 17px 34px;
    justify-content: center;
    align-items: center;
    border: none;
    margin-top: 25px;
}

.btn1 a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.btn1:hover {
    background-color: white;
}

a:hover {
    
    color: cadetblue;
}

.banner-image {
    margin: 0px 64px;
}

/* pillars of bangladesh  */

.pillar-card-container {
    margin: 80px 160px;
    /* padding: 24px; */
    background-color: #F1F1F3;
    /* width: auto; */
    
}

.pillar-title {
    margin: 32px 0px;
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
}
.card-stack1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 24;
    padding: 0px;
}
.card-carrier {
    width: 302px;
    height: 244px;
    gap: 24;
    padding: 24px;
    /* margin: 0px; */
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    align-self: stretch;
    flex-grow: 0;
    margin: 32px 0px;
}


h4 .cap {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin: 12px 24px 0 24px;
}

.card-des {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    /* margin: 12px 24px 24px 24px; */
    gap: 12;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

/* vision section   */

.vision {
    margin: 80px 160px;
}
.head2 {
    color: rgb(14, 14, 14);
    font-size: 45px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
    margin: 24px 0px;
}

.vision-description {
    color: rgba(14, 14, 14, 0.7);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}


.vision-card {
    display: flex;
    /* justify-content: space-between; */
    margin: 32px 0;
}

.cardA {
    
    background: rgba(84, 144, 245, 0.2);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 24px;
    flex-grow: 1;
    box-sizing: border-box;
    border-radius: 16px;
    margin-right: 24px;
    height: 325px;
    width: 500.67px;

}

.cardA-btn {
    padding: 11px 20px 11px 20px;
    border-radius: 8px;
    background: rgb(84, 144, 245);
    color: white;
    border: none;
    margin-top: 24px;
    gap: 48;

}

.cardA-btn:hover {
    background-color: white;
    color: rgb(84, 144, 245);
}

.cardB {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 32px;
    /* margin: 0px 24px; */
    margin-right: 24px;
    flex-grow: 1;
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(198, 228, 214);
    height: 325px;
    width: 500.67px;
}

.cardB-btn {
    gap: 48;
    padding: 11px 20px 11px 20px;
    border-radius: 8px;
    background: rgb(9, 161, 92);
    color: white;
    border: none;
    margin-top: 24px;

}
.cardB-btn:hover {
    background-color: white;
    color: rgb(9, 218, 214);
}
.cardC {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 24px;
    flex-grow: 1;
    /* margin: 0px 24px; */
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(247, 235, 207);
    height: 325px;
    width: 500.67px;

}

.cardC-btn {
    gap: 48;
    padding: 11px 20px 11px 20px;
    margin-top: 24px;
    border: none;
    border-radius: 8px;
    background: rgb(255, 194, 57);
    color: white;
}

.cardC-btn:hover {
    background-color: white;
    color: rgb(255, 194, 57);
}

.quote-container {
    margin: 48px 0;
    padding: 48px 24px 48px 24px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    background-image: url('../assets/images/quote-bg.png');
    background-position: top-left;
    background-repeat: no-repeat;

}
.quote {
    color: rgba(14, 14, 14, 0.8);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.head3 {
    margin: 12px 0;
}

.caption2 {
    color: rgba(14, 14, 14, 0.6);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

/* / table section  */

.opinion {
      width: 100%;
      border-collapse: collapse;
      border-radius: 12px;
      
      
    }
.table-container {
        margin: 0 160px;
        margin-top: 24px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        padding: 32px;
        border-radius: 16px;
        background-color: white;

    }
.head3 {
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    margin: 24px 0px;
    width: 1280px;
    height: 48px;
    margin-left: 160px;
    padding: 24px;
}
.table-heading {
      background-color: #cde6d2;
      width: 100%;
      height: 72px;
    }

.table-heading, .data {
      padding: 20px;
      text-align: left;
    }

.table-heading {
      font-size: 19px;
      font-weight: bold;
      padding: 24px;
      margin-left: 24px;
    }

tr {
      border-bottom: 1px solid #e0e0e0;
    }

.choose {
      padding: 10px 15px;
      font-size: 16px;
      border: 2px solid #a3d7a5;
      border-radius: 8px;
      background-color: #d9f2de;
      cursor: pointer;
      appearance: none;
    }

.choose:hover{
        background-color: green;
        color: white;
    }



/* / news section / */

.news-container {
    margin: 80px 160px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.news-head {
    margin: 24px 0px;color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
}

.news-brief {
    margin: 12px 0px;
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin: 24px 0;
}

.news-card {
    display: flex;
    border-radius: 24px;
    background: rgb(255, 255, 255);
    margin: 24px 0px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 48px;
}

.news-img {
    margin: 0px 32px;
    border-radius: 24px;
}

.news-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32;
    padding: 0px;
    margin: 0px 32px;
}

.content-head {
    color: rgba(14, 14, 14, 0.8);
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
    margin: 12px 0px;
}

.news-logo {
    width: 134px;
    height: 40px;
    margin: 12px 0;
}

.pubtime {
    align-items: center;
    margin: 12px 0;
}

.news-des {
    margin: 12px 0px;
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.news-btn {
    border-radius: 8px;
    background: rgb(0, 106, 80);
    border-radius: 8px;
    padding: 13px 26px 13px 26px;
    justify-content: center;
    align-items: center;
    color: white;
    border: none;
}

.news-btn:hover {
    background-color: white;
    color: rgb(0, 106, 80);
    border: 1px solid rgb(0, 106, 80);
}

/* ----- dontation -----  */

.donation {
    margin: 80px 160px;
}

h1.donate-head {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
}
.donate-head {
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
}

.donate-description {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    margin: 24px auto;
    max-width: 1080px;
}

.donate-card {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        margin-bottom: 30px;
}

.donate-amount {
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    width: 240px;
    height: 128px;
    color: rgba(14, 14, 14, 0.8);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    align-items: center;
    padding: 35px 40px;
}

.donate-amount:focus {
    background-color: rgb(198, 228, 214);
    color: black;
}

.donate-amount:hover {
    background-color: rgb(198, 228, 214);
    color: black;
}

.ot {
    max-width: 900px;
    margin: 0 auto;

}
.other-amount {
  /* width: 100%; */
  padding: 20px 40px;
  font-size: 18px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 30px;
  text-align: center;
  width: 850px;
}

.donate-btn-container {
  display: flex;
  justify-content: center;
}

.donate-btn {
    background: rgb(0, 106, 80);
    border-radius: 8px;
    padding: 17px 34px 17px 34px;
    justify-content: center;
    align-items: center;
    color: white;
    border: none;
}

.donate-btn:hover {
    background-color: white;
    border: 1px solid rgb(0, 106, 80);
    color: rgb(0, 106, 80);
}




/* / newsletter section / */

.newsletter{
    border-radius: 24px;
    background: rgb(198, 228, 214);
    margin: 80px 160px;
    padding: 80px 100px;

}
.newsletter-container {
    /* margin: 80px 160px; */
    display: flex;display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    

}

.letter-head {
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
}

.letter-des {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    align-items: center;
    margin: 25px auto;
}

.field {
    border-radius: 8px 0px 0px 8px;
    background: rgb(255, 255, 255);
    padding: 18px 40px 18px 40px;
    width: 500px;
    height: auto;
}

.subscribe {
    width: 150px;
    height: 56px;
    padding: 17px 34px 17px 34px;
    border-radius: 0px 8px 8px 0px;
    background: rgb(0, 106, 80);
    color: white;
    
}

.subscribe:hover{
    background-color: white;
    border: 1px solid rgb(0, 106, 80);
    color: rgb(0, 106, 80);
}

/* / footer /  */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 80px 160px;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 50px 160px;
}


hr {
    margin: 31px 0;
    /* max-width: 1000x; */
    border: 2px solid rgba(14, 14, 14, 0.1);
}

.sicon {
    margin: 5px;
}